<!DOCTYPE html>

<%- include('../partials/head', {pagina: 'sobre'}); %>
<body class="container">

  <%- include('../partials/header', {pagina: 'sobre testee'}); %>

  <main>
    <div class="jumbotron">
      <h1>sobre min</h1>
      <p>oi, sou o murilin</p>
    </div>
  </main>

  <%- include('../partials/footer'); %> 
</body>
</html>


